---
import Title from "../../components/title/index.astro"
import SocialNetwork from "../hero/social-network.astro"

const events = [
  {
    id: 1,
    name: "Nerdearla CDMX 2024",
    description: `Nerdearla es una experiencia social, tanto en persona como en streaming. Espacios de coworking, charlas, talleres y muchas oportunidades para hacer networking y aprender de líderes de la industria.
      <strong>Para participar en Nerdearla, simplemente visita nuestro sitio web oficial y sigue las instrucciones de registro. Puedes elegir la opción de asistir al evento presencial al final del formulario de inscripción. ¡No te pierdas la oportunidad de ser parte de esta increíble experiencia! </strong>
    `,
    startDate: "2024-11-7",
    participationType: "hybrid", // physical, virtual, hybrid
    officialEventUrl: "https://nerdear.la/es/",
    invitationVideos: [
      {
        title: "¿Qué es Nerdearla?",
        url: null,
        iframe: `<iframe width="100%" height="100%" src="https://www.youtube.com/embed/Nn7HWUvcEBU?si=OEeqzyA78tp_imwB&amp&autoplay=1;autoplay=1;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>`
      }
    ],
    platform: {
      name: "Google Meet",
      link: "https://google.com",
    },
    place: {
      name: "Guadalajara Jalisco",
      address: "Av. Insurgentes Sur 1234, Guadalajara",
    },
    dateLabel: "7 y 8 de noviembre",
    timeLabel: "10:00 - 14:00",
    callToAction: "¡Regístrate ahora!",
  },
  {
    id: 2,
    name: "DevFest Xalapa 2024",
    description: "El DevFest llega a Xalapa en su segunda edición, dirigido a estudiantes y desarrolladores (desde principiantes hasta expertos) de la región y el estado. Disfruten de este gran evento tecnológico que se realiza a nivel mundial. ¡No te pierdas de nuestras charlas, demostraciones prácticas, talleres y laboratorios de código! Próximamente más información.",
    startDate: "2024-12-7",
    participationType: "physical", // physical, virtual, hybrid
    officialEventUrl: "https://nerdear.la/es/",
    place: {
      name: "Facultad de Contaduría y Administración",
      address: "Av. Xalapa 1234, Xalapa",
    },
    dateLabel: "7 de diciembre del 2024",
    timeLabel: "10:00 - 14:00",
    callToAction: "¡Regístrate ahora!",
  },
  {
    id: 3,
    name: "DevFest CDMX 2024",
    description: "El DevFest CDMX es un evento organizado por la comunidad de Google Developers Group CDMX, en el que se reúnen desarrolladores, diseñadores, emprendedores y estudiantes para compartir conocimientos y experiencias en tecnología. ¡No te lo pierdas!",
    startDate: "2024-12-14",
    participationType: "virtual", // physical, virtual, hybrid
    officialEventUrl: "https://nerdear.la/es/",
    platform: {
      name: "Google Meet",
      link: "https://google.com",
    },
    dateLabel: "14 de diciembre del 2024",
    timeLabel: "10:00 - 14:00",
    callToAction: "¡Regístrate ahora!",
  },
]

const typeToLabel = {
  physical: "Presencial",
  virtual: "Virtual",
  hybrid: "Híbrido",
}

const getNearestEvent = () => {
  const now = new Date()
  const nearestEvent = events.find(event => new Date(event.startDate) > now)
  return nearestEvent
}

const nearestEvent = getNearestEvent()

const getUpcomingEvents = () => {
  const now = new Date()
  return events.filter(event => new Date(event.startDate) > now && event.id !== nearestEvent.id)
}


const upcomingEvents = getUpcomingEvents()
---

<Title>Eventos</Title>

<div
  style="
    color: var(--gray-color);
    border: 2px solid var(--clear-gray);
    border-style: dashed;
    border-width: .5cap;
  "
  class="
    Inter
    p-8
    rounded-lg
    text-center
    bg-gradient-to-l
    from-white/20
  ">
  <div class="">
    {
      !nearestEvent ? (
        <div class="flex flex-col items-center">
          <p class="text-lg">No hay eventos próximos por el momento, pero puedes seguirnos en nuestras redes sociales para mantenerte al día</p>
          <SocialNetwork />
        </div>
      )
      : (
        <article class="p-8 text-white text-center flex flex-col items-center">
          <h3 class="Fredoka">{nearestEvent.name}</h3>

          <div class="p-8 text-center w-full">
            <div class="aspect-video" set:html={nearestEvent.invitationVideos[0].iframe} />
          </div>

          <p class="text-lg" set:html={nearestEvent.description} />
          <p>Fecha: {nearestEvent.dateLabel}</p>
          <p>Hora: {nearestEvent.timeLabel}</p>
          <p>Tipo de evento: {typeToLabel[nearestEvent.participationType]}</p>
          {
            nearestEvent.participationType === "physical"
              && <p>Lugar: {nearestEvent.place.name} - {nearestEvent.place.address}</p>
          }
          {
            nearestEvent.participationType === "virtual"
              && <p>Plataforma: {nearestEvent.platform.name}</p>
          }
          {
            nearestEvent.participationType === "hybrid"
              && (
                <p style="color: var(--yellow-duck)">
                  Lugar: {nearestEvent.place.name} - {nearestEvent.place.address}
                  <br />
                  Plataforma: {nearestEvent.platform.name} - <a class="devu-link" href={nearestEvent.platform.link} target="_blank" rel="noopener noreferrer">Enlace</a>
                </p>
              )
          }
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="button-ghost-pink mt-8"
            href={nearestEvent.officialEventUrl}>
            {nearestEvent.callToAction}
          </a>
          {
            !nearestEvent.invitationVideos.length
              ? <div></div>
              // we will support 1 video for now, but we can support more in the future
              : (
                <div class=" w-full">
                  {
                    nearestEvent.invitationVideos.map(video => (
                      <div></div>
                    ))
                  }
                </div>
              )
          }
        </article>
      )
    }
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-16 mt-8">
  {
    upcomingEvents.map(event => (
      <div
        class="
          p-8
          rounded-lg
          bg-gradient-to-l
          from-white/20
          text-white
          text-center
          flex
          flex-col
          items-center
          border-[var(--clear-gray)]
          border-2
        ">
        <h3>{event.name}</h3>
        <p set:html={event.description}></p>
        <p>Tipo: {typeToLabel[event.participationType]}</p>
        <p>Fecha: {event.dateLabel}</p>
        <p>Hora: {event.timeLabel}</p>
        <p>Plataforma: {event.platform ? event.platform.name : event.place.name}</p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="button-ghost-pink mt-8"
          href={event.officialEventUrl}>
          {event.callToAction}
        </a>
      </div>
    ))
  }
</div>
